/*NAVBAR CONTAINER*/

#navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    background:#0A447E;

    padding:12px 20px;

    border-bottom:2px solid #08315c;
}


/*LEFT + RIGHT LINK GROUPS*/

.nav-left,
.nav-right{
    display:flex;
    gap:20px;
}


/*NAVBAR LINKS */

#navbar a{
    text-decoration:none;
    color:white;
    font-family:Arial, sans-serif;
    font-weight:bold;
    font-size:16px;
}


/* hover effect */

#navbar a:hover{
    color:#F78C40;
}


/* CENTER TITLE */

#Title{
    font-size:20px;
    font-weight:bold;
}

.footer {
    background-color: #0A447E;
    color: white;
    text-align: center;
    padding: 20px 0;
    border-bottom:2px solid #08315c;
}

/* Footer text */
.footer p {
    margin: 0;
}
